# === TELEGRAM ===
API_ID=
API_HASH=
BOT_TOKEN=
TELEGRAM_SESSION=
ADMIN_ID=

# === CANAUX ===
# Canal silencieux C1 (prédictions normales, rattrapage 1)
C1_SILENT_CHANNEL_ID=

# Canal principal (après 1 perte silencieuse, rattrapage 2)
PREDICTION_CHANNEL_ID=

# === CONFIG ===
PORT=10000
API_POLL_INTERVAL=5
